/* Mobile Phones */
@media screen and (max-width: 767px) {
  body {
    background-color: lightblue;
  }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: lightgreen;
  }
}

/* Laptops and Desktops */
@media screen and (min-width: 1025px) {
  body {
    background-color: lightyellow;
  }
}
