body {
  margin: 0px;
  padding: 0px;
  background-image: url(https://images.unsplash.com/photo-1549228167-511375f69159?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-position: auto;
  background-size: 100%;
  background-color: rgb(252, 43, 43) !important;
}
nav {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px solid blue;
  border: 2px;
}
.logo {
  margin-left: 50px;
  font-weight: bold;
  font-size: 20px;
}
.menu {
  list-style-type: none;
  display: flex;
  text-decoration: none;
}
.menu li {
  margin-right: 50px;
  list-style: none;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}
.menu li:last-child {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}
.menu a:hover {
  color: blue;
}
i {
  list-style-type: none;
  border-radius: 10px solid black;
  border: 2px;
  text-decoration: none;
}
img {
  align-items: center;
  background-color: black;
  justify-content: center;
}
